pandas
numpy
scikit-learn
nltk
dill
ta
yfinance
statsmodels
tensorflow
matplotlib
streamlit
prophet
xgboost
alpha_vantage
twelvedata[pandas]
requests
websockets
asyncio
json
flask
flask-cors
sqlachemy
sqlalchemy-utils
pydantic
uvicorn

-e .