pandas
numpy
scikit-learn
nltk
dill
ta
yfinance
statsmodels
tensorflow
matplotlib
streamlit
prophet
xgboost
alpha_vantage
twelvedata[pandas]
requests
websockets
flask
flask-cors
fastapi
sqlalchemy
sqlalchemy-utils
pydantic
uvicorn
pymysql
apscheduler
shap

